<footer class="footer-section bg-light ">
    <div class="container">
        <h1 class="cnt">ContactUs</h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-left">
                    <ul>
                        <li>Address: Alchemy soluction-Bangalore</li>
                        <li>Phone: +91 9071310843</li>
                        <li>Email: vinutagowda@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-left">
                    <ul>
                        <li>Address:Alchemy soluction-Bangalore </li>
                        <li>Phone: +4235647327</li>
                        <li>Email: yamini@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="footer-left">
                    <ul>
                        <li>Address: Alchemy soluction-Bangalore</li>
                        <li>Phone: +919876543272</li>
                        <li>Email: vandana@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-left">
                    <ul>
                        <li>Address:Alchemy soluction-Bangalore</li>
                        <li>Phone: +8035465727</li>
                        <li>Email: udaya@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">

                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights 2020 reserved <i
                            class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Emart</a>

                    </div>
                </div>
            </div>
        </div>
  </div>
</footer>